/* @version $Id$ */

#coordinateOverlay {
    /* inset the coordinate overlay's bottom left relative to the container's bottom left */
    position: absolute;
    bottom: 10px;
    left: 260px;
    /* common text attributes for the coordinate overlay */
    text-shadow: 0px 0px 2px black;
    color: white;
    /* ignore mouse and touch events in the coordinate overlay */
    pointer-events: none;
}

#terrainLatitude {
    display: inline-block;
    width: 55px;
    text-align: right;
}

#terrainLongitude {
    display: inline-block;
    width: 65px;
    text-align: right;
}

#terrainElevation {
    display: inline-block;
    width: 65px;
    text-align:center;
}

#eyeAltitudeLabel {
    margin-left: 20px;
    margin-right: 5px;
}
